<html>
    <head>
        <title>GYMRATS</title>
    </head>
    <body>
        <div>
            <h1><a href="/">COSAS DE GYMRATS</a></h1>
        </div>

        <div>
            <p>COCHILOKO QUIERE A LA CARGA PESADA :/</p>
            <h2><a href="">VENTAJAS</a></h2>
            <p>1.Tienen mas fuerza</p>
        </div>

        <div>
            <p>2.Saben lo que quieren</p>
            <h2><a href="">DESVENTAJAS</a></h2>
            <p>1.Dolores musculares </p>
        </div>
        <div>
            <p>2.Sueño</p>
        </div>
    </body>
</html>